<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@3.0">
  <actions/>
  <description>Cucumber/.gherkin BDD testing</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>2</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>LATEST_BUILD_NUMBER</name>
          <description></description>
          <defaultValue>0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.6.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/aurotech/Aurotech_AMDS_JAVA_POC.git</url>
        <credentialsId>aurotech_durga</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.aurotech.cucumber</groupId>
    <artifactId>com.aurotech.cucumber</artifactId>
  </rootModule>
  <rootPOM>com.aurotech.cucumber/pom.xml</rootPOM>
  <goals>clean install</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <ignoreUnsuccessfulUpstreams>false</ignoreUnsuccessfulUpstreams>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers>
    <com.castlemon.jenkins.performance.CucumberPerfRecorder plugin="cucumber-perf@2.0.9">
      <jsonReportDirectory>com.aurotech.cucumber/target/</jsonReportDirectory>
      <jsonReportFileName>**/*.json</jsonReportFileName>
      <countOfSortedSummaries>20</countOfSortedSummaries>
    </com.castlemon.jenkins.performance.CucumberPerfRecorder>
    <net.masterthought.jenkins.CucumberReportPublisher plugin="cucumber-reports@3.12.0">
      <fileIncludePattern>cucumber.json</fileIncludePattern>
      <fileExcludePattern></fileExcludePattern>
      <jsonReportDirectory>com.aurotech.cucumber/target</jsonReportDirectory>
      <failedStepsNumber>0</failedStepsNumber>
      <skippedStepsNumber>0</skippedStepsNumber>
      <pendingStepsNumber>0</pendingStepsNumber>
      <undefinedStepsNumber>0</undefinedStepsNumber>
      <failedScenariosNumber>0</failedScenariosNumber>
      <failedFeaturesNumber>0</failedFeaturesNumber>
      <trendsLimit>0</trendsLimit>
      <parallelTesting>false</parallelTesting>
      <sortingMethod>ALPHABETICAL</sortingMethod>
      <classifications class="empty-list"/>
      <classificationsFilePattern></classificationsFilePattern>
    </net.masterthought.jenkins.CucumberReportPublisher>
  </publishers>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@2.1.5">
      <info>
        <propertiesContent>LATEST_BUILD_NUMBER=${LATEST_BUILD_NUMBER}</propertiesContent>
        <secureGroovyScript plugin="script-security@1.35">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
  <prebuilders/>
  <postbuilders>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>ec2-user@ec2-34-238-171-246.compute-1.amazonaws.com:22</siteName>
      <command>curl -O http://ec2-34-224-214-70.compute-1.amazonaws.com:8081/nexus/service/local/repositories/releases/content/DemoFDAWebApp/DemoFDAWebApp/${LATEST_BUILD_NUMBER}/DemoFDAWebApp-${LATEST_BUILD_NUMBER}.war</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
  </postbuilders>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>